matplotlib>=2.2.2
numpy>=1.14.2
pandas>=0.22.0
scikit-learn>=0.19.1
scipy>=1.0.1
seaborn>=0.8.1
six>=1.11.0
sklearn>=0.0
mygene>=3.0.0
pyensembl>=1.2.6
tqdm>=4.23.0
adjustText>=0.7.3
alabaster==0.7.8
